@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background:#F5F5F5;
  --primary-color:#fcc435;
  --primary-base-color:#444444;
}

@layer base {
  body {
    background: var(--background);
    font-family: "Inter", sans-serif ;
  }
  button{
    cursor: pointer;
  }
  p, li{
    color: var(--primary-base-color);
  }

  li{
    font-size: 14px;
  }
}


@layer component{
  .experience-box{
    position: relative;
    border-left: 1px solid var(--primary-color);
  }

  .experience-box::before{
    position: absolute;
    content:"";
    top:0;
    left: -9px;
    width:15px;
    height:15px;
    border-radius: 50%;
    border:2px solid var(--primary-color);
    background: #fff;
  }
}

@layer utilities{
  .text-primary-color{
    color:var(--primary-color);
  }
  .bg-primary-color{
    background: var(--primary-color);
  }

  .text-base-color{
    color: var(--primary-base-color);
  }

  .custom-color{
    color:#ff5733;
  }
}
